.localizacao-secao {
    height: 60vh;
}
.container-localizacao {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 70px;
}

.localizacao-text {
    width: 40%;
    display: flex;
    text-align: center;
    align-items: center;
}

.imagem-do-mapa {
    background-image: url(/Assets/VenezaMap.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 300px;

    transition: .5s;
}

.imagem-do-mapa:hover {
    transform: scale(1.05);
}

.parte-dois-texto {
    margin-top: 4px;
}